:root {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    border: 0;
}

body {
    margin: 0;
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar-title {
    line-height: 1rem;
    padding: 1rem;
    margin: 0;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar-menu > li {
    padding: 1rem;
}

.navbar-menu > li > a {
    color: darkslategrey;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu > li > a:hover {
    color: hsla();
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-title {
    color: darkslategrey;
}

.sign-title-heading {
    font-size: 4rem;
    text-align: center;
}

.auth {
    display: flex;
    background-color: hsl(20, 100%, 70%);
    background-image: linear-gradient(to right bottom, hsl(20, 100%, 70%), hsl(358, 100%, 68%));
    padding: 2rem;
    height: 100%;
    color: snow;
    min-width: 300px;
    max-width: 401px;
}

.auth form {
    width: 100%;
}

.auth-title {
    margin-bottom: .5rem;
}

.auth-field-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.auth-field-input {
    width: 100%;
    background-color: transparent;
    border-style: none;
    border-bottom: .2rem solid snow;
    color: snow;
    line-height: 2rem;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.auth-error {
    background-color: crimson;
    display: block;
    font-weight: bold;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.auth-submit {
    background-image: linear-gradient(to right bottom, steelblue, teal);
    border-style: none;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    color: snow;
    font-size: x-large;
}
